/* General Styles */
* {
  &:after,
  &:before {
    box-sizing: border-box;
  }
  &:active,
  &:focus {
    outline: 0;
  }
}
.clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
a, a:focus, a:hover, a:active {
  text-decoration: none !important;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  color: #333;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: $red;
  border-radius: 50px;
}
textarea::-webkit-scrollbar {
  width: 7px;
}
textarea::-webkit-scrollbar-track {
  background-color: $light-black;
}
textarea::-webkit-scrollbar-thumb {
  background-color: $red;
  border-radius: 50px;
}
::-moz-selection {
  background-color: rgba(232, 50, 50, 0.8);
  color: $white;
}
::selection {
  background-color: rgba(232, 50, 50, 0.8);
  color: $white;
}
%flexbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.mobile-hidden {
  @include breakpoint(mobileonly) {
    display: none;
  }
}
.mobile-visible {
  visibility: hidden;
  @include breakpoint(mobileonly) {
    visibility: visible;
  }
}
