/* Imports */
@import url( 'https://fonts.googleapis.com/css?family=Raleway');
@import url( 'https://fonts.googleapis.com/css?family=Lato');
@import url( 'https://fonts.googleapis.com/css?family=Quicksand');
@import url( 'https://fonts.googleapis.com/css?family=Poppins:700');
$font-paragraph: Raleway, sans-serif;
$font-heading-big: Poppins, sans-serif;
$font-heading-small: Quicksand, sans-serif;
$font-buttons: Lato, sans-serif;

$orange: #eb8b56;
$dark-orange: #e6641d;
$red: #e83232;
$blue: #0b7be2;
$black: #333;
$light-black: #555;
$lighter-black: #666;
$grey: #777;
$light-grey: #999;
$lighter-grey: #a7a7a7;
$white: #fff;
$dark-white: #efefef;
$darker-white: #ddd;
$alt-white: #ececec;

$primary-color: $red;
