// Buttons
.btn {
  @extend %transition;
  @extend %border-radius;
  padding: 15px 30px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid transparent;
  span {
    @extend %transition;
  }
  @include breakpoint(tablet) {
    padding: 20px 40px;
  }
}

.button-container {
  .btn {
    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }
}

@media (prefers-color-scheme: light) {
  .btn {
    background: $black;
    border-color: $black;
    span {
      color: $white;
    }
    &:hover {
      background: $light--background;
      border-color: rgba($soft-black, 0.1);
      span {
        color: $black;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    span {
      color: $white;
    }
    border-color: rgba($soft-black, 0.4);
    &:hover {
      background: rgba($soft-black, 0.2);
    }
  }
}
