// Flex items
%flexbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

// Default box shadow
%box-shadow {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.04), 0 6px 6px rgba(0, 0, 0, 0.06);
}

// Default border radius
%border-radius {
  @include border-radius($default-border-radius);
}

// Default transition
%transition {
  @include transition(all 0.2s ease);
}

// Default horizontal padding (container)
%horizontal-padding {
  padding-left: $padding-horizontal--sm;
  padding-right: $padding-horizontal--sm;
  @include breakpoint(laptop) {
    padding-left: $padding-horizontal--lg;
    padding-right: $padding-horizontal--lg;
  }
}

// Card
%card {
  @extend %border-radius;
  @extend %box-shadow;
  background: $white;
}

// Images
img,
video,
svg {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// Magnetic items
.magnetic {
  margin: -30px;
  padding: 30px;
  display: inline-block;
}

// Hide magnetic effect on touch devices
@media (hover: none) and (pointer: coarse) {
  .magnetic {
    padding: 0;
    margin: 0;
    transform: none !important;
  }
}

// Cursor
.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  opacity: 0.2;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  display: none;
  @include breakpoint(laptop) {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .cursor {
    background-color: $black;
  }
}

@media (prefers-color-scheme: dark) {
  .cursor {
    background-color: $white;
  }
}

.hover {
  width: 60px;
  height: 60px;
  opacity: 0.4;
  display: none;
  @include breakpoint(laptop) {
    display: block;
  }
}

.cursor-container {
  @extend %transition;
  opacity: 0;
  position: relative;
  z-index: calc(#{$nav-z-index} + 1);
}

.visible {
  opacity: 1;
}

// Page transition
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: calc(#{$nav-z-index + 1});
  pointer-events: none;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  &.fade-out {
    opacity: 0;
    animation-name: fade-out;
  }
  &.fade-in {
    opacity: 1;
    animation-name: fade-in;
  }
}

@media (prefers-color-scheme: light) {
  #fader {
    background-color: $light--background;
  }
}

@media (prefers-color-scheme: dark) {
  #fader {
    background-color: $dark--background;
  }
}

// Icons
.circular-icon {
  @include border-radius(60px);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(laptop) {
    @include border-radius(80px);
    width: 80px;
    height: 80px;
  }
  i {
    font-size: 30px;
    @include breakpoint(laptop) {
      font-size: 40px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .circular-icon {
    background: rgba($white, 0.1);
    i {
      color: $white;
    }
  }
}

@media (prefers-color-scheme: light) {
  .circular-icon {
    background: rgba($black, 0.1);
    i {
      color: $black;
    }
  }
}

// Background logo
.logo-background {
  svg {
    position: fixed;
    z-index: -1;
    opacity: 0.025;
    height: 150vh;
    width: 150vh;
    right: -100vh;
    top: -20vh;
    @include breakpoint(laptop) {
      height: 250vh;
      width: 250vh;
      right: -60vw;
      top: -50vh;
    }
    // opacity: 0.015;
    @media (prefers-color-scheme: light) {
      &.logo-black {
        display: inline-block;
      }
      &.logo-white {
        display: none;
      }
    }
    @media (prefers-color-scheme: dark) {
      &.logo-black {
        display: none;
      }
      &.logo-white {
        display: inline-block;
      }
    }
  }
}

// Scroll down indicator
.scroll-down {
  display: none;
  @include breakpoint(laptop) {
    display: block;
  }
  width: 12px;
  height: 12px;
  pointer-events: none;
  position: relative;
  @include border-radius(50%);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-5px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@media (prefers-color-scheme: light) {
  .scroll-down {
    background: $black;
  }
}

@media (prefers-color-scheme: dark) {
  .scroll-down {
    background: $ghost-white;
  }
}
