// Base styling
* {
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }

  &:active,
  &:focus {
    outline: 0;
  }
}

// Body styling
body,
html {
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  overflow-y: overlay;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

// Scrollbars
body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  @include border-radius(16px);
}

body::-webkit-scrollbar-track {
  width: 4px;
  background-clip: padding-box;
  @include border-radius(16px);
}

@media (prefers-color-scheme: light) {
  body::-webkit-scrollbar-thumb {
    border: 8px solid rgba($black, 0);
    background-color: rgba($black, 0.75);
  }
  body::-webkit-scrollbar-track {
    background-color: rgba($black, 0.1);
    border: 8px solid rgba($black, 0);
  }
}

@media (prefers-color-scheme: dark) {
  body::-webkit-scrollbar-thumb {
    border: 8px solid rgba($white, 0);
    background-color: rgba($white, 0.75);
  }
  body::-webkit-scrollbar-track {
    background-color: rgba($white, 0.1);
    border: 8px solid rgba($white, 0);
  }
}

// Firefox scrollbar
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-width: thin;
  }
}

// Selection
@media (prefers-color-scheme: dark) {
  ::-moz-selection {
    background: $white;
    color: $black;
  }

  ::selection {
    background: $white;
    color: $black;
  }
}

@media (prefers-color-scheme: light) {
  ::-moz-selection {
    background: $black;
    color: $white;
  }

  ::selection {
    background: $black;
    color: $white;
  }
}

// Utilities
.mb-sm {
  margin-bottom: $padding-vertical--sm;
}

.mt-sm {
  margin-top: $padding-vertical--sm;
}

.mv-sm {
  margin-top: $padding-vertical--sm;
  margin-bottom: $padding-vertical--sm;
}

.mb-md {
  margin-bottom: $padding-vertical--md;
}

.mt-md {
  margin-top: $padding-vertical--md;
}

.mv-md {
  margin-top: $padding-vertical--md;
  margin-bottom: $padding-vertical--md;
}

.mb-lg {
  margin-bottom: $padding-vertical--lg;
}

.mt-lg {
  margin-top: $padding-vertical--lg;
}

.mv-lg {
  margin-top: $padding-vertical--lg;
  margin-bottom: $padding-vertical--lg;
}
