// Fonts
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../../src/fonts/poppins/poppins-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../../src/fonts/poppins/poppins-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Averta-Bold";
  src: url("../../../src/fonts/averta/averta-bold.woff2") format("woff2");
}

$font--big: "Averta-Bold", sans-serif;
$font--small: "Poppins-Regular", sans-serif;

// Whites
$white: #ffffff;
$ghost-white: #f9faff;

// Blacks
$black: #14161a;
$soft-black: #444446;
$soft-grey: #999999;

// Padding
$padding-horizontal--lg: 15vw; // Tablet and up
$padding-horizontal--md: 4vw; // Nav
$padding-horizontal--sm: 2.5em; // Mobile

$padding-vertical--lg: 20vh;
$padding-vertical--md: 10vh;
$padding-vertical--sm: 5vh;

// Specific colors
$light--text: $white;
$dark--text: $black;

$light--paragraph: $soft-grey;
$dark--paragraph: $soft-black;

$light--background: $ghost-white;
$dark--background: $black;

// Misc
$nav-z-index: 9999;
$default-border-radius: 10px;
