/* Footer */
footer {
  padding: 20px;
  text-align: center;
  p {
    color: $light-black;
    font-family: $font-heading-small;
  }
  a {
    text-decoration: none;
    color: $black;
    font-weight: bold;
    text-align: left;
    @include transition(all 0.3s ease);
    &:focus,
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
  span.left {
    float: left;
    @include breakpoint(mobileonly) {
      float: none;
      text-align: center;
      display: block;
      margin-bottom: 20px;
    }
  }
  span.right {
    float: right;
    @include breakpoint(mobileonly) {
      float: none;
      text-align: center;
      display: block;
    }
  }
}
