/* General Sections */
section {
  padding: 100px 50px;
  background: $white;
  border-bottom: 2px solid $alt-white;
  @include breakpoint(mobileonly) {
    padding: 60px 20px;
  }

  h1 {
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    right: 2px;
    @include breakpoint(mobileonly) {
      font-size: 8vw;
    }

    span.dot {
      color: $primary-color;
      font-family: $font-buttons;
    }
  }

  p {
    font-size: 15px;
    line-height: 22px;
  }

  hr {
    width: 40px;
    border-width: 3px;
    @include border-radius(50px);
    float: left;
    margin-top: 5px;
    border-color: $primary-color;
    @include breakpoint(mobileonly) {
      margin-top: 10px;
    }
  }
}
/* Custom Sections */
/* Intro */
.intro {
  padding-top: 80px;

  img.logo-koningsdag {
    width: 80%;
    height: 80%;
    margin-top: 20%;
    max-height: 300px;
    max-width: 300px;
    @include breakpoint(mobileonly) {
      height: 50%;
      width: 50%;
      margin: 30px auto 0;
      display: block;
    }
  }
}
/* Sponsors */
.sponsors, .songteksten {
  span.orange {
    color: $orange;
  }

  span.blue {
    color: $blue;
  }

  span.white {
    color: $darker-white;
  }

  span.red {
    color: $red;
  }

  .button-sponsor {
    @include breakpoint(mobileonly) {
      margin-top: 0;
    }
  }

  a.link {
    color: $primary-color;
    font-weight: bold;
    @include transition(all 0.3s ease);
    @include opacity(0.8);

    &:hover {
      color: $primary-color;
      @include opacity(1);
    }

    &:focus {
      color: $primary-color;
    }
  }

  h2 {
    font-size: 2vw;
    margin-bottom: -25px;

    span.dot {
      color: $primary-color;
      font-family: $font-buttons;
    }
    @include breakpoint(mobileonly) {
      font-size: 6vw;
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 30px;
    @extend %flexbox;
    @include breakpoint(mobileonly) {
      display: block;
      margin-top: 0;
    }

    li.breedbandhelmond {
      width: 320px;
      height: 140px;
      @include breakpoint(mobileonly) {
        width: 80vw;
      }
    }

    li {
      background: #f9f9f9;
      border-radius: 4px;
      box-shadow: 0 0 10px $lighter-grey;
      padding: 15px;
      display: inline;
      margin-right: 40px;
      width: 230px;
      height: 115px;
      @include opacity(1);
      @include transition(all 0.3s ease);

      &:hover {
        box-shadow: 0 0 20px $lighter-grey;
        transform: translateY(-3px);
      }
      @include breakpoint(mobileonly) {
        display: block;
        margin-bottom: 40px;
        width: 80vw;
      }

      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        @include breakpoint(mobileonly) {
          margin-bottom: 10px;
        }
      }

      .spring {
        width: 150px;
        height: 79px;
      }

      .gerardroefs {
        width: 191px;
        height: 84px;
      }

      .verhappen {
        width: 183px;
        height: 41px;
        margin-top: 25px;
      }

      .ameezing {
        width: 196px;
        height: 75px;
      }

      .hoffman {
        width: 151px;
        height: 34px;
        margin-top: 25px;
      }

      .eyeon {
        width: 150px;
        height: 100px;
        padding-bottom: 10px;
      }

      .marcdewit {
        width: 192px;
        height: 34px;
        margin-top: 25px;
      }

      .harotex {
        width: 153px;
        height: 82px;
      }

      .vanoorschot {
        width: 175px;
        height: 60px;
        margin-top: 15px;
      }

      .jumbo {
        width: 170px;
        height: 34px;
        margin-top: 25px;
      }

      .wouters-bouwmaterialen {
        width: 185px;
        height: 60px;
        margin-top: 10px;
      }

      .sure-consultancy {
        width: 166px;
        height: 40px;
        margin-top: 20px;
      }

      .duterloo {
        width: 200px;
        height: 66px;
        margin-top: 10px;
      }

      .gwleidingtechniek {
        width: 170px;
        height: 35px;
        margin-top: 25px;
      }

      .magnifique {
        width: 120px;
        height: 80px;
      }

      .coachingenadvisering {
        width: 196px;
        height: 45px;
        margin-top: 20px;
      }

      .wijkraad {
        width: 150px;
        height: 70px;
      }

      .advanlieshout {
        width: 100px;
        height: 80px;
      }

      .breedbandhelmond {
        width: 261px;
        height: 101px;
        margin-top: 10px;
        @include breakpoint(mobileonly) {
          width: 183px;
          height: 83px;
          margin-top: 20px;
        }
      }
      .dolce-gusto {
        width:180px;
        height:40px;
        margin-top: 25px;
      }
      .tetrode-administratie {
        width: 160px;
        height: 100px;
        position: relative;
        bottom: 10px;
      }

      .purple-lizard {
        width:180px;
        height:60px;
        margin-top: 12px;
      }
    }
  }
}
/* Programma */
.programma {
  h1 {
    font-size: 2.5vw;
    @include breakpoint(mobileonly) {
      font-size: 8vw;
    }

    span.dot {
      color: $primary-color;
      font-family: $font-buttons;
    }
  }

  .col-md-6 {
    padding-right: 40px;
  }

  .avond-programma {
    @include breakpoint(mobileonly) {
      margin-top: 20px;
    }
  }

  span.tijd {
    font-weight: bold;
    font-family: $font-buttons;
    color: $black;
    font-size: 16px;
  }
}
/* Parallax Quote */
.parallax {
  background: linear-gradient(130deg, rgba(232, 50, 50, 0.85) 35%,rgba(230, 100, 29, 0.85) 60%,rgba(247, 130, 66, 0.85) 75%), url("../img/backgrounds/festival.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include breakpoint(mobileonly) {
    background-attachment: none;
    background: linear-gradient(130deg, rgba(232, 50, 50, 0.85) 35%,rgba(230, 100, 29, 0.85) 60%,rgba(247, 130, 66, 0.85) 75%);
  }

  p {
    color: $white;
    font-size: 2vw;
    font-family: $font-heading-small;
    font-weight: bold;
    line-height: 2vw;
    @include breakpoint(mobileonly) {
      font-size: 5vw;
      line-height: 5vw;
    }
  }

  span {
    font-style: italic;
    font-size: 20px;
    font-family: $font-heading-small;
    color: $dark-white;
  }
}
/* Songteksten */
.songteksten {
  h4 {
    font-family: $font-buttons;
    font-weight: bold;
  }
}
/* Contact */
.contact {
  .img-box {
    background-image: url("../img/backgrounds/oranje-comite.jpg");
    background-size: cover;
    box-shadow: 0 0 25px $lighter-grey;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include transition(all 0.3s ease);
    border-radius: 4px;

    &:hover {
      box-shadow: 0 0 45px $lighter-grey;
    }
    @include breakpoint(mobileonly) {
      height: 250px;
    }
  }

  p.contact-details {
    margin-bottom: 10px;

    span.numbers {
      font-family: $font-heading-small;
    }

    i {
      color: $primary-color;
      font-size: 18px;
      margin-right: 10px;
    }

    .fa-envelope {
      font-size: 15px !important;
    }

    a {
      color: $primary-color;
      font-weight: bold;
      @include transition(all 0.3s ease);
      @include opacity(0.8);

      &:hover {
        color: $primary-color;
        @include opacity(1);
      }

      &:focus {
        color: $primary-color;
      }
    }
  }
}
