// About
.skills-container,
.approach-container {
  @include breakpoint(laptop) {
    display: flex;
    margin-top: $padding-vertical--md;
  }
  .item {
    margin-top: $padding-vertical--md;
    @include breakpoint(laptop) {
      margin-top: 0;
    }
    p {
      max-width: 100%;
      @include breakpoint(laptop) {
        max-width: 90%;
      }
      margin-top: 10px;
    }
    h6 {
      margin-top: 5px;
      margin-bottom: 20px;
    }
    .circular-icon {
      margin-bottom: 20px;
    }
  }
}
