// Case studies
.case-study {
  main {
    padding-top: 0;
  }

  .intro {
    padding-top: $padding-vertical--lg;
  }

  .container {
    @extend %horizontal-padding;
    width: 100vw;
    margin-left: 0;
    @include breakpoint(laptop) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  h1 {
    @include breakpoint(tablet) {
      font-size: calc(18px + 4vw);
    }
  }

  section {
    p {
      &:first-of-type {
        margin-top: 20px;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
      @include breakpoint(tablet) {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .case-images {
      .image-half,
      .image-full {
        p.image-description {
          width: 100%;
          font-size: 0.8em;
          text-align: center;
          margin-top: 5px;
          margin-bottom: 0;
          display: block;
          margin-left: auto;
          margin-right: auto;
          @include breakpoint(tablet) {
            margin-top: 15px;
          }
        }
      }
      .image-double-container {
        @include breakpoint(laptop) {
          display: flex;
        }
        .image-half {
          justify-content: center;
          flex-direction: column;
          @include breakpoint(laptop) {
            display: flex;
          }
          padding: 0;
          &:first-of-type {
            @include breakpoint(laptop) {
              padding-right: 20px;
            }
          }
          &:nth-of-type(2) {
            margin-top: $padding-vertical--md;
            @include breakpoint(laptop) {
              padding-left: 20px;
              margin-top: 0;
            }
          }
          margin: 0;
          img,
          video {
            @extend %border-radius;
            @extend %box-shadow;
            width: 100%;
            padding: 0;
            margin: 0;
          }
        }
      }
      .image-full {
        img,
        video {
          @extend %border-radius;
          @extend %box-shadow;
          width: 100%;
        }
      }
      .recording {
        width: 100%;
        display: flex;
        align-items: flex-start;
        .recording-container {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        img,
        video {
          @include breakpoint(tablet) {
            max-height: 80vh;
          }
        }
      }
    }
  }

  .side--nav {
    padding-top: $padding-vertical--sm;
    padding-left: $padding-horizontal--md;
    padding-right: $padding-horizontal--md;
    padding-bottom: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    .spacer {
      width: 100%;
      height: $padding-vertical--sm;
    }
    @include breakpoint(laptop) {
      display: flex;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        margin-top: 5px;
        width: 100%;
        &:first-of-type {
          margin-top: 0;
        }
        &.logo {
          margin-bottom: 30px;
          display: inline-block;
          width: 50px;
          height: 50px;
          a {
            padding: 0;
            margin: 0;
            &:hover {
              background: none;
            }
          }
          svg {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            overflow: visible;
            @media (prefers-color-scheme: light) {
              &.logo-black {
                display: inline-block;
              }
              &.logo-white {
                display: none;
              }
            }
            @media (prefers-color-scheme: dark) {
              &.logo-black {
                display: none;
              }
              &.logo-white {
                display: inline-block;
              }
            }

            &:hover {
              path#Path_3 {
                transform: translateY(-90px);
              }
              path#Path_4 {
                transform: translateY(-70px);
              }
            }
            path {
              @extend %transition;
              position: relative;
            }
          }
        }
        a {
          display: block;
          font-family: $font--small;
          margin-left: 10px;
          padding: 3px 6px;
          border-radius: 6px;
          @include transition(all 0.2s ease);
        }
        &.bigger--link {
          &:first-of-type {
            margin-top: 0;
          }
          a {
            font-weight: bold;
            font-size: 1.1em;
            margin-left: 0;
          }
          margin-top: 15px;
        }
      }
    }
  }

  .side--nav::-webkit-scrollbar {
    width: 20px;
  }

  .side--nav::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    @include border-radius(16px);
  }

  .side--nav::-webkit-scrollbar-track {
    width: 4px;
    background-clip: padding-box;
    @include border-radius(16px);
  }

  @media (prefers-color-scheme: light) {
    .side--nav::-webkit-scrollbar-thumb {
      border: 8px solid rgba($black, 0);
      background-color: rgba($black, 0.75);
    }
    .side--nav::-webkit-scrollbar-track {
      background-color: rgba($black, 0.1);
      border: 8px solid rgba($black, 0);
    }
  }

  @media (prefers-color-scheme: dark) {
    .side--nav::-webkit-scrollbar-thumb {
      border: 8px solid rgba($white, 0);
      background-color: rgba($white, 0.75);
    }
    .side--nav::-webkit-scrollbar-track {
      background-color: rgba($white, 0.1);
      border: 8px solid rgba($white, 0);
    }
  }

  .back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-top: $padding-vertical--md;
    @include breakpoint(tablet) {
      margin-top: $padding-vertical--lg;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      width: 60px;
      height: 60px;
      margin-left: 0;
      @include border-radius(50%);
    }
  }

  .next-project {
    margin-top: $padding-vertical--md;
    @include breakpoint(laptop) {
      display: flex;
      margin-top: $padding-vertical--lg;
    }
    a {
      width: 100%;
      @extend %transition;
      @include breakpoint(laptop) {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
      div {
        padding: 30px;
        @include breakpoint(laptop) {
          padding: 50px;
        }
        h3 {
          word-break: break-word;
          font-size: calc(15px + 2vw);
        }
        h4 {
          font-size: calc(15px + 0.2vw);
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .side--nav {
    border-right: 1px solid rgba($soft-black, 0.4);
    ul {
      li {
        a {
          &.active,
          &:hover {
            background: rgba($white, 0.1);
          }
        }
      }
    }
  }
  .back-to-top {
    a {
      border: 1px solid rgba($soft-black, 0.4);
    }
  }
  .next-project {
    border: 1px solid rgba($soft-black, 0.4);
    a {
      &:hover {
        background: rgba($soft-black, 0.1);
      }
    }
    .previous {
      border-bottom: 1px solid rgba($soft-black, 0.4);
      @include breakpoint(laptop) {
        border-right: 1px solid rgba($soft-black, 0.4);
        border-bottom: none;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .side--nav {
    border-right: 1px solid rgba($soft-black, 0.1);
    ul {
      li {
        a {
          &.active,
          &:hover {
            background: rgba($soft-black, 0.05);
          }
        }
      }
    }
  }
  .back-to-top {
    a {
      border: 1px solid rgba($soft-black, 0.1);
    }
  }
  .next-project {
    border: 1px solid rgba($soft-black, 0.1);
    a {
      &:hover {
        background: rgba($soft-black, 0.1);
      }
    }
    .previous {
      border-bottom: 1px solid rgba($soft-black, 0.1);
      @include breakpoint(laptop) {
        border-right: 1px solid rgba($soft-black, 0.1);
        border-bottom: none;
      }
    }
  }
}
