// Case studies
.case,
body.internship {
  .case-intro {
    @include breakpoint(laptop) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    img {
      width: 100%;
      @extend %border-radius;
      @extend %box-shadow;
      @include breakpoint(laptop) {
        margin-bottom: 0;
        max-width: 40%;
      }
    }
    .case-intro-description {
      @include breakpoint(laptop) {
        padding-top: 10%;
        max-width: 50%;
      }
      h1 {
        margin-bottom: 10px;
      }
      p {
        &:not(:last-of-type) {
          margin-bottom: 20px;
          @include breakpoint(tablet) {
            margin-bottom: 30px;
          }
        }
        @include breakpoint(laptop) {
          max-width: 80%;
        }
      }
    }
  }

  section {
    .case-images {
      .image-half,
      .image-full {
        p.image-description {
          width: 100%;
          font-size: 0.8em;
          text-align: center;
          margin-top: 5px;
          margin-bottom: 0;
          display: block;
          margin-left: auto;
          margin-right: auto;
          @include breakpoint(tablet) {
            margin-top: 15px;
          }
        }
      }
      .image-double-container {
        @include breakpoint(laptop) {
          display: flex;
        }
        .image-half {
          justify-content: center;
          flex-direction: column;
          @include breakpoint(laptop) {
            display: flex;
          }
          padding: 0;
          &:first-of-type {
            @include breakpoint(laptop) {
              padding-right: 20px;
            }
          }
          &:nth-of-type(2) {
            margin-top: $padding-vertical--md;
            @include breakpoint(laptop) {
              padding-left: 20px;
              margin-top: 0;
            }
          }
          margin: 0;
          img,
          video {
            @extend %border-radius;
            @extend %box-shadow;
            width: 100%;
            padding: 0;
            margin: 0;
          }
        }
      }
      .image-full {
        img,
        video {
          @extend %border-radius;
          @extend %box-shadow;
          width: 100%;
        }
      }
    }
  }

  .icon-container {
    @include breakpoint(tablet) {
      display: flex;
      width: 95%;
      margin-left: 5%;
    }
    .item {
      @include breakpoint(tablet) {
        margin-top: 0;
      }
      p {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        @include breakpoint(tablet) {
          max-width: 80%;
        }
        @include breakpoint(laptop) {
          max-width: 80%;
        }
      }
      h6 {
        margin-bottom: 10px;
        margin-top: 5px;
        @include breakpoint(tablet) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .next-project {
    @include breakpoint(laptop) {
      display: flex;
    }
    a {
      width: 100%;
      @extend %transition;
      @include breakpoint(laptop) {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
      div {
        padding: 30px;
        @include breakpoint(laptop) {
          padding: 50px;
        }
        h3 {
          word-break: break-word;
          font-size: calc(15px + 2vw);
        }
        h4 {
          font-size: calc(15px + 0.2vw);
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .next-project {
    border: 1px solid rgba($soft-black, 0.4);
    a {
      &:hover {
        background: rgba($soft-black, 0.1);
      }
    }
    .previous {
      border-bottom: 1px solid rgba($soft-black, 0.4);
      @include breakpoint(laptop) {
        border-right: 1px solid rgba($soft-black, 0.4);
        border-bottom: none;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .next-project {
    border: 1px solid rgba($soft-black, 0.1);
    a {
      &:hover {
        background: rgba($soft-black, 0.1);
      }
    }
    .previous {
      border-bottom: 1px solid rgba($soft-black, 0.1);
      @include breakpoint(laptop) {
        border-right: 1px solid rgba($soft-black, 0.1);
        border-bottom: none;
      }
    }
  }
}

// Internship
body.internship {
  main {
    padding-top: 0;
  }

  .intro {
    padding-top: $padding-vertical--lg;
  }

  .container {
    width: 100vw;
    margin-left: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    @include breakpoint(tablet) {
      margin-left: 20vw;
      padding-left: 10vw;
      padding-right: 10vw;
      width: 80vw;
    }
  }

  h1 {
    @include breakpoint(tablet) {
      font-size: calc(18px + 4vw);
    }
  }

  section {
    p {
      &:first-of-type {
        margin-top: 20px;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
      @include breakpoint(tablet) {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .side--nav {
    position: fixed;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow-y: scroll;
    display: none;
    align-items: center;
    top: 0;
    bottom: 0;
    justify-content: center;
    min-width: 20vw;
    max-width: 20vw;
    padding-left: 20px;
    padding-right: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    @include breakpoint(tablet) {
      display: flex;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-top: 10px;
        &:first-of-type {
          margin-top: 0;
        }
        a {
          font-family: $font--small;
          margin-left: 10px;
          padding: 6px 10px;
          border-radius: 6px;
          @include transition(all 0.2s ease);
        }
        &.bigger--link {
          &:first-of-type {
            margin-top: 0;
          }
          a {
            font-weight: bold;
            font-size: 1.1em;
            margin-left: 0;
          }
          margin-top: 30px;
        }
      }
    }
  }
  .side--nav::-webkit-scrollbar {
    display: none;
  }

  .back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-top: $padding-vertical--md;
    @include breakpoint(tablet) {
      margin-top: $padding-vertical--lg;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      width: 60px;
      height: 60px;
      margin-left: 0;
      @include border-radius(50%);
    }
  }

  @media (prefers-color-scheme: dark) {
    .side--nav {
      border-right: 1px solid rgba($soft-black, 0.4);
      ul {
        li {
          a {
            &.active {
              background: rgba($white, 0.15);
            }
          }
        }
      }
    }
    .back-to-top {
      a {
        border: 1px solid rgba($soft-black, 0.4);
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .side--nav {
      border-right: 1px solid rgba($soft-black, 0.1);
      ul {
        li {
          a {
            &.active {
              background: rgba($soft-black, 0.1);
            }
          }
        }
      }
    }
    .back-to-top {
      a {
        border: 1px solid rgba($soft-black, 0.1);
      }
    }
  }
}
