// Internship
body.internship {
  main.internship {
    padding-top: 0;
  }

  .container {
    width: 100vw;
    margin-left: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    @include breakpoint(tablet) {
      margin-left: 20vw;
      padding-left: 10vw;
      padding-right: 10vw;
      width: 80vw;
    }
  }

  h1 {
    line-height: 1.4em;
    font-size: calc(20px + 2.2vw);
    @include breakpoint(tablet) {
      font-size: calc(18px + 4vw);
    }
    @include breakpoint(laptop) {
      letter-spacing: 1px;
      margin-bottom: calc(#{$padding-vertical--big} / 1.5);
    }
  }

  .description-group {
    p {
      margin-left: 0;
      &:first-of-type {
        margin-top: 20px;
      }
    }
  }

  .intro {
    padding-top: $padding-vertical--big;
    p {
      margin-top: 20px;
      @include breakpoint(tablet) {
        margin-top: 30px;
        max-width: 80%;
      }
      @include breakpoint(laptop) {
        max-width: 40%;
      }
    }
  }

  .icon-container {
    margin-left: 0;
    margin-top: $padding-vertical--medium;
    width: 100%;
  }

  section {
    margin-bottom: $padding-vertical--big;
  }

  .side--nav {
    position: fixed;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow-y: scroll;
    display: none;
    align-items: center;
    top: 0;
    bottom: 0;
    justify-content: center;
    min-width: 20vw;
    padding-left: 20px;
    padding-right: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    @include breakpoint(tablet) {
      display: flex;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-top: 10px;
        a {
          font-family: $font--small;
          margin-left: 10px;
          padding: 6px 10px;
          border-radius: 6px;
          @include transition(all 0.2s ease);
        }
        &.bigger--link {
          a {
            font-weight: bold;
            font-size: 1.1em;
            margin-left: 0;
          }
          margin-top: 20px;
        }
        &.back-to-top {
          margin-top: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            width: 60px;
            height: 60px;
            margin-left: 0;
            @include border-radius(50%);
          }
        }
        &.logo {
          display: flex;
          align-items: center;
          margin-bottom: 50px;
          a {
            margin-left: 0;
          }
          svg {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            overflow: visible;
            @media (prefers-color-scheme: light) {
              &.logo-black {
                display: inline-block;
              }
              &.logo-white {
                display: none;
              }
            }
            @media (prefers-color-scheme: dark) {
              &.logo-black {
                display: none;
              }
              &.logo-white {
                display: inline-block;
              }
            }

            &:hover {
              path#Path_3 {
                transform: translateY(-90px);
              }
              path#Path_4 {
                transform: translateY(-70px);
              }
            }
            path {
              @extend %transition;
              position: relative;
            }
          }
        }
      }
    }
  }
  .side--nav::-webkit-scrollbar {
    display: none;
  }

  .sub-group {
  }

  @media (prefers-color-scheme: dark) {
    .side--nav {
      border-right: 1px solid rgba($soft-black, 0.4);
      ul {
        li {
          &.back-to-top {
            a {
              border: 2px solid rgba($soft-black, 0.4);
            }
          }
          a {
            &.active {
              background: rgba($white, 0.15);
            }
          }
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .side--nav {
      border-right: 1px solid rgba($soft-black, 0.1);
      ul {
        li {
          &.back-to-top {
            a {
              border: 2px solid rgba($soft-black, 0.1);
            }
          }
          a {
            &.active {
              background: rgba($soft-black, 0.1);
            }
          }
        }
      }
    }
  }
}
