// Internship
body.internship {
  main.internship {
    padding-top: 0;
  }

  .container {
    width: 100vw;
    margin-left: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    @include breakpoint(tablet) {
      margin-left: 20vw;
      padding-left: 10vw;
      padding-right: 10vw;
      width: 80vw;
    }
  }

  h1 {
    line-height: 1.4em;
    font-size: calc(20px + 2.2vw);
    @include breakpoint(tablet) {
      font-size: calc(18px + 4vw);
    }
    @include breakpoint(laptop) {
      letter-spacing: 1px;
      margin-bottom: calc(#{$padding-vertical--big} / 1.5);
    }
  }

  .description-group {
    p {
      margin-left: 0;
      &:first-of-type {
        margin-top: 20px;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
      &.single--paragraph {
        margin-top: $padding-vertical--medium;
      }
      @include breakpoint(tablet) {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .case-images {
      :first-child {
        margin-top: $padding-vertical--medium;
      }
    }
  }

  .intro {
    padding-top: $padding-vertical--big;
    margin-bottom: $padding-vertical--big;
    p {
      margin-top: 20px;
      @include breakpoint(tablet) {
        margin-top: 30px;
        max-width: 60vw;
      }
      @include breakpoint(laptop) {
        max-width: 30vw;
      }
    }
  }

  .side--nav {
    position: fixed;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow-y: scroll;
    display: none;
    align-items: center;
    top: 0;
    bottom: 0;
    justify-content: center;
    min-width: 20vw;
    padding-left: 20px;
    padding-right: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    @include breakpoint(tablet) {
      display: flex;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-top: 10px;
        &:first-of-type {
          margin-top: 0;
        }
        a {
          font-family: $font--small;
          margin-left: 10px;
          padding: 6px 10px;
          border-radius: 6px;
          @include transition(all 0.2s ease);
        }
        &.bigger--link {
          &:first-of-type {
            margin-top: 0;
          }
          a {
            font-weight: bold;
            font-size: 1.1em;
            margin-left: 0;
          }
          margin-top: 30px;
        }
      }
    }
  }
  .side--nav::-webkit-scrollbar {
    display: none;
  }

  .sub-group {
    margin-top: $padding-vertical--medium;
  }

  section {
    margin-bottom: $padding-vertical--big;
  }

  .back-to-top {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      width: 60px;
      height: 60px;
      margin-left: 0;
      @include border-radius(50%);
    }
  }

  @media (prefers-color-scheme: dark) {
    .side--nav {
      border-right: 1px solid rgba($soft-black, 0.4);
      ul {
        li {
          a {
            &.active {
              background: rgba($white, 0.15);
            }
          }
        }
      }
    }
    .back-to-top {
      a {
        border: 1px solid rgba($soft-black, 0.4);
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .side--nav {
      border-right: 1px solid rgba($soft-black, 0.1);
      ul {
        li {
          a {
            &.active {
              background: rgba($soft-black, 0.1);
            }
          }
        }
      }
    }
    .back-to-top {
      a {
        border: 1px solid rgba($soft-black, 0.1);
      }
    }
  }
}
