// Main
main {
  padding-top: $padding-vertical--lg;
  padding-bottom: $padding-vertical--lg;
}

// Container
.container {
  @extend %horizontal-padding;
}

// Sections
section {
  &:not(:last-of-type) {
    margin-bottom: $padding-vertical--md;
    @include breakpoint(tablet) {
      margin-bottom: $padding-vertical--lg;
    }
  }
  p {
    margin-top: 20px;
    @include breakpoint(tablet) {
      margin-top: 30px;
      max-width: 60vw;
    }
    @include breakpoint(laptop) {
      max-width: 40vw;
    }
  }
}
