// Utilities
.mb-sm {
  margin-bottom: $padding-vertical--sm;
}

.mt-sm {
  margin-top: $padding-vertical--sm;
}

.mv-sm {
  margin-top: $padding-vertical--sm;
  margin-bottom: $padding-vertical--sm;
}

.mb-md {
  margin-bottom: $padding-vertical--md;
}

.mt-md {
  margin-top: $padding-vertical--md;
}

.mv-md {
  margin-top: $padding-vertical--md;
  margin-bottom: $padding-vertical--md;
}

.mb-lg {
  margin-bottom: $padding-vertical--lg;
}

.mt-lg {
  margin-top: $padding-vertical--lg;
}

.mv-lg {
  margin-top: $padding-vertical--lg;
  margin-bottom: $padding-vertical--lg;
}

// Tablet (md)
.mb-sm--md {
  @include breakpoint(tablet) {
    margin-bottom: $padding-vertical--sm;
  }
}

.mt-sm--md {
  @include breakpoint(tablet) {
    margin-top: $padding-vertical--sm;
  }
}

.mv-sm--md {
  @include breakpoint(tablet) {
    margin-bottom: $padding-vertical--sm;
    margin-top: $padding-vertical--sm;
  }
}

.mb-md--md {
  @include breakpoint(tablet) {
    margin-bottom: $padding-vertical--md;
  }
}

.mt-md--md {
  @include breakpoint(tablet) {
    margin-top: $padding-vertical--md;
  }
}

.mv-md--md {
  @include breakpoint(tablet) {
    margin-top: $padding-vertical--md;
    margin-bottom: $padding-vertical--md;
  }
}

.mb-lg--md {
  @include breakpoint(tablet) {
    margin-bottom: $padding-vertical--lg;
  }
}

.mt-lg--md {
  @include breakpoint(tablet) {
    margin-top: $padding-vertical--lg;
  }
}

.mv-lg--md {
  @include breakpoint(tablet) {
    margin-top: $padding-vertical--lg;
    margin-bottom: $padding-vertical--lg;
  }
}

// Laptop (lg)
.mb-sm--lg {
  @include breakpoint(laptop) {
    margin-bottom: $padding-vertical--sm;
  }
}

.mt-sm--lg {
  @include breakpoint(laptop) {
    margin-top: $padding-vertical--sm;
  }
}

.mv-sm--lg {
  @include breakpoint(laptop) {
    margin-bottom: $padding-vertical--sm;
    margin-top: $padding-vertical--sm;
  }
}

.mb-md--lg {
  @include breakpoint(laptop) {
    margin-bottom: $padding-vertical--md;
  }
}

.mt-md--lg {
  @include breakpoint(laptop) {
    margin-top: $padding-vertical--md;
  }
}

.mv-md--lg {
  @include breakpoint(laptop) {
    margin-top: $padding-vertical--md;
    margin-bottom: $padding-vertical--md;
  }
}

.mb-lg--lg {
  @include breakpoint(laptop) {
    margin-bottom: $padding-vertical--lg;
  }
}

.mt-lg--lg {
  @include breakpoint(laptop) {
    margin-top: $padding-vertical--lg;
  }
}

.mv-lg--lg {
  @include breakpoint(laptop) {
    margin-top: $padding-vertical--lg;
    margin-bottom: $padding-vertical--lg;
  }
}
